/* Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 70px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #ff6900;
  color: #fff;
  z-index: 2;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);

}

header a {
  color: #fff;
  font-weight: bold;
  transition: all ease 0.5s;
  
}

a {
  text-decoration: none;
  transition: all ease .5s;
}

li {
  list-style-type: none;
}

h4 {
  text-transform: uppercase;
  margin: 2px 0;
}

#navbar {
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 30px;
  transition: all ease 0.3s;
}

img {
  width: 100%;
}

/* Utils */

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.debug {
  border: 1px red solid;
}

.d-flex {
  display: flex;
}

.sp-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.col {
  width: calc(100% / 3);
  position: relative;
}

.red {
  color: red;
  font-weight: bold;
}

/* Margin */

.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mx-10 {
  margin: 0 10px;
}

.my-50 {
  margin: 50px 0;
}

.mt-100 {
  margin-top: 100px;
}

.mb-10 {
  margin-bottom: 10px;
}

.h100per {
  height: 100%;
}

.img-top {
  transition: all ease-in-out 0.5s;
  opacity: 0;
  cursor: pointer;
}

.img-top:hover {
  opacity: 1;
}

.img-bottom {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.label {
  color: #fff;
  padding: 5px 10px;
  bottom: 100px;
  position: absolute;
}

.discount {
  background-color: red;
  left: 0;
}

.sustain {
  background-color: green;
  left: 65px;
}

.left {
  left: 0;
}

.fav {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 10px;
  right: 0;
  background-color: #fff;
  text-align: center;
  line-height: 50px;
}

.fa-heart {
  transition: all ease 0.5s;
}

.fa-heart:hover {
  color: red;
  cursor: pointer;
  transform: scale(1.4);
}

.fa-brands:hover {
  color: #ff6900;
}
.fa-brands {
  transition: all ease 0.5s;
}

header a:hover {
  color: #333;
}

#logo:hover {
  transform: scale(1.1);
}

footer a:hover {
  color: #ff6900;
}

/* Footer */

footer {
  background-color: #1a1a1a;
  height: 120px;
  color: #fff;
}

footer a {
  color: #fff;
}
